!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @pagetitle || 'IrishElections'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/fork_me_on_github'
    = yield
    = render 'layouts/footer'
